@font-face {
    font-family: 'FiraCode';
    src: url('../src/assets/fira/FiraCode-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'FiraCode', monospace;
    letter-spacing: .1rem;
    background-color: #15202B;
    color: #fff;
}   

a{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    padding: 0 20px;
}