@font-face {
    font-family: 'FiraCode';
    src: url('../src/assets/fira/FiraCode-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'FiraCode', monospace;
    letter-spacing: .1rem;
    color: #fff;
}

body {
    background-color: #15202B;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 2px solid #e3e3e3;
}


body{ 
    display:flex; 
    flex-direction:column; 
    height: 100%;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: fill-available;
}
  

a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    padding: 0 20px;
}

.content-padding {
    padding: 12px 24px 12px 24px;
}

.footer-icons {
    display: inline-flex;
}

.github-icon {
    height: 24px;
}

.linkedin-icon {
    height: 24px;
}

.post-paragraph {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
}

footer{
    padding-top: 32px !important;
    padding-bottom: 64px !important;
    margin-top:auto; 
}

.snackbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .65rem;
    border: 6px solid;
    border-color: #fff;
    border-radius: 28px;
    width: 32%;
}

.absolute-bottom {
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

.thumbnail-1 {
    width: 240px;
    height: 240px;
}

blockquote {
  background: #e3e3e3;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 1.5em 10px;
  color: #000;
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.appearing {
   animation: fadeIn 2s;
   -webkit-animation: fadeIn 2s;
   -moz-animation: fadeIn 2s;
   -o-animation: fadeIn 2s;
   -ms-animation: fadeIn 2s;
}

.disappearing {
   animation: fadeOut ease 2s;
   -webkit-animation: fadeOut ease 2s;
   -moz-animation: fadeOut ease 2s;
   -o-animation: fadeOut ease 2s;
   -ms-animation: fadeOut ease 2s;
   animation-fill-mode: forwards;
}

/* Media query para pantallas grandes */
@media screen and (min-width: 420px) {
/*"padding" "12px 24px 12px 24px"*/
  .post-container {
    padding-right: 96px; /* Agrega el padding solo en pantallas grandes */
    padding-left: 24px;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-o-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-ms-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
